<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count="3">
  <test  name="radioBtncheckBoxTest">
  <parameter name="browsername" value="chrome">
  </parameter>
    <classes>
      <class name="com.qa.CheckBox.CheckBox"/>
    </classes>
    </test>
    <test  name="TestOnfirefox">
  <parameter name="browsername" value="firefox">
  </parameter>
    <classes>
      <class name="com.qa.CheckBox.CheckBox"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="TestOnIE">
  <parameter name="browsername" value="IE">
  </parameter>
    <classes>
      <class name="com.qa.CheckBox.CheckBox"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
